<div class="section">
    <h1 class="section-title">[Sténographie] Challenge 3 : Coup de poker</h1>
    <div class="section-content">

        <!-- Présentation    -->
        <p class="challenge-intro-text">
            Lors d'une partie de poker, le dos des cartes n'est pas toujours identique. <br />
            Pouvez-vous en apprendre plus sur les mains de vos adversaires? <br /><br />

            Dans ce challenge, vous devez trouver 3 flags au format "flag{...}". <br />
            Vous avez besoin d'un flag pour trouver le suivant, notez qu'ils peuvent contenir des indications sur le prochain flag.
        </p>

        <!-- Étape -->
        <div class="d-flex flex-warp">
            <div id="step-3-1" class="challenge-box flex-fill p-3 m-2 btn">
                <p class=" m-0 p-0">
                    Étape 1<br />
                    100 points
                </p>
            </div>

            <div id="step-3-2" class="challenge-box flex-fill p-3 m-2 btn">
                <p class=" m-0 p-0">
                    Étape 2<br />
                    150 points
                </p>
            </div>

            <div id="step-3-3" class="challenge-box flex-fill p-3 m-2 btn">
                <p class=" m-0 p-0">
                    Étape 3<br />
                    150 points
                </p>
            </div>
        </div>

        <!-- Descriptions -->
        <div id="description-chall-3-1">
            <p class="challenge-intro-text">
                Téléchargez l'image suivante et cherchez des informations.
            </p>
            <div class="text-center mb-3">
                <a href="/static/ctf/challenge_3/2D4820D7CD60B9DDF808ABCAA0C60006D59B1EF25B04C832AA6F9798DC8ED471.jpeg" download="2D4820D7CD60B9DDF808ABCAA0C60006D59B1EF25B04C832AA6F9798DC8ED471.jpeg" class="my-auto btn-atlantis btn btn-block">Télécharger le dos de la carte</a>
            </div>

            <% if (challenges[6].challenge.flagged) { %>
            <p class="text-center">Vous avez réussi cette étape.</p>
            <script>
                $("#step-3-1").addClass('challenge-box-completed');
            </script>
            <%} else { %>
            <div class="form-group d-flex justify-content-center mb-4">
                <p class="me-3 pb-0 my-auto">Flag :</p>
                <input id="flag-input-3-1" type="text" class="form-control w-50 me-3" placeholder="flag{...}">
                <a id="flag-button-3-1" type="button" class="my-auto btn-atlantis btn btn-block">Envoyer</a>
            </div>
            <p id="flag-response-3-1" class="text-center"> </p>
            <% } %>


        </div>

        <div id="description-chall-3-2">

            <% if (challenges[6].challenge.flagged) { %>

            <p class="challenge-intro-text">
                Un autre membre du cercle à trouvé la vraie taille de l'image : 870 x 3000 <br />
                Continuez vos recherches sur l'image suivante. <br /><br />
            </p>
            <div class="text-center mb-3">
                <a href="/static/ctf/challenge_3/extended.jpeg" download="2D4820D7CD60B9DDF808ABCAA0C60006D59B1EF25B04C832AA6F9798DC8ED471.jpeg" class="my-auto btn-atlantis btn btn-block">Télécharger le dos de la carte</a>
            </div>
            <% if (challenges[7].challenge.flagged) { %>
            <p class="text-center">Vous avez réussi cette étape.</p>
            <script>
                $("#step-3-2").addClass('challenge-box-completed');
            </script>
            <%} else { %>
            <div class="form-group d-flex justify-content-center mb-4">
                <p class="me-3 pb-0 my-auto">Flag :</p>
                <input id="flag-input-3-2" type="text" class="form-control w-50 me-3" placeholder="flag{...}">
                <a id="flag-button-3-2" type="button" class="my-auto btn-atlantis btn btn-block">Envoyer</a>
            </div>
            <p id="flag-response-3-2" class="text-center"> </p>
            <% } %>

            <%} else { %>
            <p class="challenge-intro-text">
                Terminez l'étape précédente pour pouvoir commencer celle-ci.
            </p>

            <% } %>



        </div>

        <div id="description-chall-3-3">
            <% if (challenges[7].challenge.flagged) { %>
            <p class="challenge-intro-text">
                Vous y êtes presque ! <br />
            </p>

            <% if (challenges[8].challenge.flagged) { %>
            <p class="text-center">Vous avez réussi cette étape.</p>
            <script>
                $("#step-3-3").addClass('challenge-box-completed');
            </script>
            <%} else { %>
            <div class="form-group d-flex justify-content-center mb-4">
                <p class="me-3 pb-0 my-auto">Flag :</p>
                <input id="flag-input-3-3" type="text" class="form-control w-50 me-3" placeholder="flag{...}">
                <a id="flag-button-3-3" type="button" class="my-auto btn-atlantis btn btn-block">Envoyer</a>
            </div>
            <p id="flag-response-3-3" class="text-center"> </p>
            <% } %>
            <%} else { %>
            <p class="challenge-intro-text">
                Terminez l'étape précédente pour pouvoir commencer celle-ci.
            </p>
            <% } %>
        </div>

        <!-- Indices -->
        <div id="hint-3-1">
            <div class="d-flex hint-blox p-4 mb-3">
                <div class="flex-fill text-left">

                    <p class="m-0 p-0">
                        Indice 3-1-1 :
                        <% if (challenges[6].hint[0].used) { %>
                        Le fichier semble un peu trop volumineux pour une image de seulement 870x1350
                        <%} else { %>
                        Cet indice n'est pas encore utilisé.
                        <% } %>
                    </p>
                </div>
                <a type="button" href="/api/flag/useHint/3-1-1" class="my-auto btn-atlantis btn btn-block">Utiliser</a>
            </div>

            <div class="d-flex hint-blox p-4 mb-3">
                <div class="flex-fill text-left">
                    <p class="m-0 p-0">
                        Indice 3-1-2 :
                        <% if (challenges[6].hint[1].used) { %>
                        La hauteur de l'image à été réduite fortement.
                        <%} else { %>
                        Cet indice n'est pas encore utilisé.
                        <% } %>
                    </p>
                </div>
                <a type="button" href="/api/flag/useHint/3-1-2" class="my-auto btn-atlantis btn btn-block">Utiliser</a>
            </div>
        </div>

        <div id="hint-3-2">
            <div class="d-flex hint-blox p-4 mb-3">
                <div class="flex-fill text-left">
                    <p class="m-0 p-0">
                        Indice 3-2-1 :
                        <% if (challenges[7].hint[0].used) { %>
                        Les fenêtres les plus éclairées ont une signification binaire.
                        <%} else { %>
                        Cet indice n'est pas encore utilisé.
                        <% } %>
                    </p>
                </div>
                <a type="button" href="/api/flag/useHint/3-2-1" class="my-auto btn-atlantis btn btn-block">Utiliser</a>
            </div>

            <div class="d-flex hint-blox p-4 mb-3">
                <div class="flex-fill text-left">
                    <p class="m-0 p-0">
                        Indice 3-2-2 :
                        <% if (challenges[7].hint[1].used) { %>
                        Un outil de stéganographie open source à été utilisé.
                        <%} else { %>
                        Cet indice n'est pas encore utilisé.
                        <% } %>
                    </p>
                </div>
                <a type="button" href="/api/flag/useHint/3-2-2" class="my-auto btn-atlantis  btn btn-block">Utiliser</a>
            </div>
        </div>

        <div id="hint-3-3">
            <div class="d-flex hint-blox p-4 mb-3">
                <div class="flex-fill text-left">
                    <p class="m-0 p-0">
                        Indice 3-3-1 :
                        <% if (challenges[8].hint[0].used) { %>
                        Les clés AES sont sur 256 bits.
                        <%} else { %>
                        Cet indice n'est pas encore utilisé.
                        <% } %>
                    </p>
                </div>
                <a type="button" href="/api/flag/useHint/3-3-1" class="my-auto btn-atlantis btn btn-block">Utiliser</a>
            </div>

            <div class="d-flex hint-blox p-4 mb-3">
                <div class="flex-fill text-left">
                    <p class="m-0 p-0">
                        Indice 3-3-2 :
                        <% if (challenges[8].hint[1].used) { %>
                        Le nom du fichier n'est pas généré aléatoirement.
                        <%} else { %>
                        Cet indice n'est pas encore utilisé.
                        <% } %>
                    </p>
                </div>
                <a type="button" href="/api/flag/useHint/3-3-2" class="my-auto btn-atlantis btn btn-block">Utiliser</a>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(() => {

        $("#flag-button-3-1").on("click", () => {
            flag = $("#flag-input-3-1").val()
            console.log(flag)
            checkFlag("3-1", flag, "#flag-response-3-1");
        });

        $("#flag-button-3-2").on("click", () => {
            flag = $("#flag-input-3-2").val()
            console.log(flag)
            checkFlag("3-2", flag, "#flag-response-3-2");
        });

        $("#flag-button-3-3").on("click", () => {
            flag = $("#flag-input-3-3").val()
            console.log(flag)
            checkFlag("3-3", flag, "#flag-response-3-3");
        });


        $("#step-3-1").on("click", () => {

            $('#step-3-1').addClass("challenge-box-selected");
            $('#step-3-2').removeClass("challenge-box-selected");
            $('#step-3-3').removeClass("challenge-box-selected");

            $('#description-chall-3-1').show();
            $('#description-chall-3-2').hide();
            $('#description-chall-3-3').hide();

            $('#hint-3-1').show();
            $('#hint-3-2').hide();
            $('#hint-3-3').hide();


        });

        $("#step-3-2").on("click", () => {

            $('#step-3-1').removeClass("challenge-box-selected");
            $('#step-3-2').addClass("challenge-box-selected");
            $('#step-3-3').removeClass("challenge-box-selected");

            $('#description-chall-3-1').hide();
            $('#description-chall-3-2').show();
            $('#description-chall-3-3').hide();

            $('#hint-3-1').hide();
            $('#hint-3-2').show();
            $('#hint-3-3').hide();
        });

        $("#step-3-3").on("click", () => {

            $('#step-3-1').removeClass("challenge-box-selected");
            $('#step-3-2').removeClass("challenge-box-selected");
            $('#step-3-3').addClass("challenge-box-selected");

            $('#description-chall-3-1').hide();
            $('#description-chall-3-2').hide();
            $('#description-chall-3-3').show();

            $('#hint-3-1').hide();
            $('#hint-3-2').hide();
            $('#hint-3-3').show();
        });

        $('#step-3-1').trigger('click');
    });
</script>