<div class="d-flex hint-blox p-4 mb-3">
    <div class="flex-fill text-left">
        <p id="hint-<%-id%>" class="m-0 p-0">
            Indice <%-number%> <%-description%>
        </p>
    </div>
    <a id="hint-button-<%-id%>" type="button" href="" class="my-auto btn-atlantis nav-link btn btn-block">Utiliser</a>
    <script>
        // TODO script to use hind
    </script>
</div>