<% if (locals.data && data.length >0 ) { %>
    <table class="table table-bordered text-light">
        <thead>
            <tr>
                <% Object.keys(data[0]).forEach(key => { %>
                <th><%-key %></th>
                <% }) %>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(row => { %>
            <tr>
                <% Object.values(row).forEach(key => { %>
                <th><%-key %></th>
                <% }) %>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>