<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>


        <div class="section">
            <h1 class="section-title">Le Cercle</h1>
            <div class="section-content">
                <h5 class="challenge-intro-text">
                    Vous êtes membres du Cercle. <br />
                    Un groupe de hacker qui s'apprettent à réaliser le plus gros hack de l'histoire. <br /> <br />
                    Qui n'a jamais rêver de faire sauter le casino ? <br /> <br />
                    Chaque challenge correspond à un point faible identifié par le Cercle... et vous allez les exploiter
                </h5>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Challenge 1 : Machines à sous</h1>
            <div class="section-content">
                <div class="d-flex flex-warp">
                    <div class="challenge-box flex-fill p-3 m-2 btn">
                        <p class="m-0 p-0">
                            challenge 1
                        </p>
                    </div>

                    <div class="challenge-box flex-fill p-3 m-2 btn">
                        <p class="m-0 p-0">
                            challenge 2
                        </p>
                    </div>

                    <div class="challenge-box flex-fill p-3 m-2 btn" onclick="showDescription()">
                        <p class="m-0 p-0 ">
                            challenge 3
                        </p>
                    </div>
                </div>
                <p id="description-chall-1" class="challenge-intro-text">
                    Vous êtes membres du Cercle. <br />
                    Un groupe de hacker qui s'apprettent à réaliser le plus gros hack de l'histoire. <br /> <br />
                    Qui n'a jamais rêver de faire sauter le casino ? <br /> <br />
                    Chaque challenge correspond à un point faible identifié par le Cercle... et vous allez les exploiter
                </p>
            </div>
        </div>

        <script>
            
            function showDescription() {
                console.log("Test")
                $("#description-chall-1").text("test")

            }
        </script>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>