<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>

        <div class="img-overlay">
            <img src="/static/images/background.jpg" alt="CS Games logo" class="img-cover" />
            <div class="overlay">
                <h1 class="test">
                    Bienvenue au CTF des CS Games
                </h1>

                <p class="test">
                    Suivez le classement en direct sur cette page et tentez de relevez les défis !
                </p>
                <a type="button" href="/challenges" class="btn-overlay btn btn-block">
                    Acceder aux challenges
                    <br />See challenges
                </a>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Classement</h1>
            <div class="section-content">
                <%- include('../template/ranking', {data: ranking}); %>
            </div>
        </div>


        <div class="section">
            <h1 class="section-title">Informations</h1>
            <div class="section-content">
                <h3 class="text-center mt-3">
                    Déroulement | Progress
                </h3>

                <p class="text-center mt-4 mb-4">
                    Le but de cette épreuve est de permettre à tous les participants de résoudre des défis en cybersécurité. <br />
                    <br />
                    La durée de l'épreuve est de 3 heures. Durant cette période, les participants auront accès aux challenges.<br />
                    Chaque challenge est découpé en plusieurs étapes, chacune d'elles rapporte des points. <br />
                    Pour chaque étape, les équipes peuvent utiliser jusqu'à 2 indices, qui entraineront une perte de 25% des points de l'étape par indice demandé. <br />
                    Chaque équipe devra fournir à la fin des 3 heures un rapport décrivant la résolution des challenges. <br />
                    Le rapport est pris en compte dans le classement à hauteur de 50 points par challenge. Toute trace de recherche sera prise en compte. <br />
                    <br />
                    Cette page indique le classement en direct des équipes. Foncez mais surtout n'oubliez pas d'avoir du fun ! <br />
                    <br />
                    [English version] <br />
                    <br />
                    The purpose of this test is to allow all participants to solve cybersecurity challenges.<br />
                    <br />
                    The duration of the test is 3 hours. During this period, participants will have access to challenges.<br />
                    Each challenge is divided into several stages, each of which earns points.<br />
                    For each stage, teams can use up to 2 clues, which will lead to a loss of 25% of the points of the stage per clue requested.<br />
                    Each team will have to provide at the end of the 3 hours a report describing the resolution of the challenges.<br />
                    The report is counted in the ranking up to 50 points per challenge. Every trace of research counts.<br />
                    <br />
                    This page shows the live standings of the teams. Go for it but above all don't forget to have fun!<br />
                </p>

                <h3 class="text-center mt-4">
                    Règlement
                </h3>
                <p class="text-center mt-4">
                    L'équipe des CS Games encourage un hacking étique, par conséquent : <br />
                    - Il est interdit d'utiliser une vulnérabilité ou action qui peut nuire à une autre équipe ou au bon déroulement de l'épreuve.<br />
                    - Il est interdit d'exploiter des failles présentes sur ce site web. Chaque équipe dispose d'un serveur pour réaliser ses challenges.<br />
                    - Il est interdit de partager les flags ou des indications permettant de les trouver à des personnes extérieures à son équipe.<br />
                    - Il est interdit d'être aidé par une personne en dehors de l'équipe et du staff. <br />
                    - L'équipe doit en informer le staff en cas de découverte de failles qui pourrait nuire à l'ensemble de l'épreuve. <br />
                    - L'équipe peut potentiellement faire planter le challenge, le staff n'asurera pas un redémarrage des services alors faites attention !<br />
                    <br />
                    En cas de manquement à l'un des points précédents, l'équipe fautive peut être disqualifiée et dans certains cas, poursuivie pénalement. <br />
                    L'équipe des CS Games se réserve le droit de modifier le règlement à tout moment.<br />
                    <br />
                    [English version] <br />
                    <br />
                    The CS Games team encourages ethical hacking, therefore: <br />
                    - It is forbidden to use a vulnerability or action that can harm another team or the smooth running of the event.<br />
                    - It is forbidden to exploit vulnerabilities present on this website. Each team has a server to carry out its challenges.<br />
                    - It is forbidden to share the flags or indications allowing to find them to people outside his team.<br />
                    - It is forbidden to be helped by a person outside the team and the staff.<br />
                    - The team must inform the staff in the event of the discovery of exploits which could harm the whole event.<br />
                    - The team can potentially crash the challenge, the staff will not ensure a restart of the services so be careful!<br />
                    <br />
                    In case of breach of one of the previous points, the offending team can be disqualified and in some cases, criminally prosecuted.<br />
                    The CS Games team reserves the right to modify the rules at any time.
                </p>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>



</html>