<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>

        <div class="img-overlay">
            <img src="/static/images/background.jpg" alt="CS Games logo" class="img-cover" />
            <div class="overlay">
                <h1 class="test">Bienvenue au CTF des CS Games</h1>
                <p class="test">Suivez le classement en direct sur cette page et tentez de relevez les défis !</p>
                <a type="button" href="/challenges" class="btn-overlay btn btn-block">Acceder aux challenges</a>
            </div>
        </div>

        <div class="section">
            <h1 class="section-title">Classement</h1>
            <div class="section-content">
                <%- include('../template/ranking', {data: ranking}); %>
            </div>
        </div>


        <div class="section">
            <h1 class="section-title">Règlement</h1>
            <div class="section-content">
                balbab
            </div>
        </div>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>



</html>