<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Casino atlantis</a>

  <% if(true) { %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
    <% } else{ %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <p>photo</p>
        </li>
        <li class="nav-item">
          <p>pseudo</p>
        </li>
      </ul>
      <% } %>


</nav>