<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../template/header', {isLogged}); %>
    </header>

    <main>
        <p>This is game page</p>
        <p>Slot id is <%- slotId %> </p>

        <script>
            // TODO add play game
            </script>
    </main>

    <footer>
        <%- include('../template/footer'); %>
    </footer>

</body>

</html>